<!DOCTYPE html>
<html>
<%= javascript_include_tag 'packs/geolocation' %>
    <head>
        <title>レストラン探します</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>
    </head>

    <body>
  <div class="container">
  <script>
    
</script>
  </div>
    <%= yield %>
  </body>
</html>