#main {
    justify-content: center;
    margin: 0 auto;
}

#left-side {
    float: left;
    width: 30%;
}

#main-contents {
    float: left;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

#right-side {
    float: left;
    width: 20%;
}
