#contents {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 200px 200px;
}

#shop-detail-content {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

#photo-access-content {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
}

#access-content {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}